<div class="content-box lp-table">
  <div class="lp-table-wrapper">
    <table class="statistics-table table-striped responsive-enabled table table-hover" data-striping="1">
      <thead>
      <tr>
        <th class="mandatory">{#{{ 'Mandatory'|t }}#}</th>
        <th class="type">{{ 'Type'|t }}</th>
        <th class="steps">{{ 'Steps'|t }}</th>
        <th class="status">{{ 'Status'|t }}</th>
        <th class="progress">{{ 'Progress'|t }}</th>
        <th class="details"></th>
      </tr>
      </thead>
      <tbody>
        {{ elements.steps }}
      </tbody>
    </table>
  </div>
</div>
