{#
/**
 * @file
 *
 * Template implementation for the newsletter form.
 */
#}

{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

{{ form.text }}
{% if form.attachment is not empty %}
  {{ form.attachment }}
  <p class="post-hint">{{ 'Only visible to connections'|t }}</p>
{% endif %}

{{ form.actions }}
