{#
/**
 * @file
 * Default theme implementation to display the "About Opigno" popup.
 *
 * Available varaibles:
 * - logo: the site logo;
 * - texts: the list of text paragraphs;
 * - version: the platform version.
 */
#}

<div id="aboutModal" class="modal modal-permanent fade" tabindex="-1" role="dialog" aria-label="{{ 'About Opigno'|t }}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">{{ 'About'|t }}</h2>
        <a class="close close-x" href="#" type="button" data-dismiss="modal" aria-label="{{ 'Close'|t }}">
          <i class="fi fi-rr-cross-small"></i>
        </a>
      </div>

      <div class="modal-body">
        {% if logo is not empty %}
          <img class="opigno-logo" src="{{ logo }}" alt="{{ 'Logo'|t }}">
        {% endif %}
        {% for text in texts %}
          <p>{{ text }}</p>
        {% endfor %}
        {% if version is not empty %}
          <p>{{ 'Version'|t ~ ': ' ~ version }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
